<!DOCTYPE html>
<html>

<head>
    <title>Sigma</title>
    <meta charset="UTF-8" />
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
        rel="stylesheet">
    <link
        href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>

            <v-app-bar app color="green" dark>
                <v-toolbar-title>S I G M A</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-progress-circular v-if="loading" indeterminate
                    color="#ffffff"></v-progress-circular>
                <v-spacer></v-spacer>

                

                
                <v-menu>
                  <template v-slot:activator="{ on }">
                    <div class="text-center">
                      <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-width="200"
                        offset-x
                      >
                        <template v-slot:activator="{ on }">
                          <v-btn
                            color="green darken-2"
                            dark
                            v-on="on"
                          >
                            Configurações
                          </v-btn>
                        </template>
                  
                        <v-card>
                          <v-list>
                        
                  
                          <v-list>

                            <v-list-item>
                              <v-list-item-action>
                                <v-switch v-model="showdesmata" color="green darken-3"></v-switch>
                              </v-list-item-action>
                              <v-list-item-title>Camada queimadas</v-list-item-title>
                            </v-list-item>

                            <v-list-item>
                              <v-list-item-action>
                                <v-switch v-model="message" color="green darken-3"></v-switch>
                              </v-list-item-action>
                              <v-list-item-title>Enable messages</v-list-item-title>
                            </v-list-item>
                  

                            <v-list-item>
                              <v-list-item-action>
                                <v-switch v-model="hints" color="green darken-3"></v-switch>
                              </v-list-item-action>
                              <v-list-item-title>Enable hints</v-list-item-title>
                            </v-list-item>
                          </v-list>
                          
                          <v-divider></v-divider>
                          
                          <v-list-item>
                            <v-list-item-action>
                              <v-color-picker flat hide-canvas v-model="fillColor"></v-color-picker>
                            </v-list-item-action>
                          </v-list-item>
                  
                          <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn color="primary" text @click="menu = false">Fechar</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-menu>
                    </div>
                  </template>
                </v-menu>
            </v-app-bar>

            <v-content>
                <v-container class="fill-height" fluid pa-0 ma-0>

                    <l-map :zoom="zoom" :minZoom="7" :center="center" style="z-index: 0;">
                        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
                        
                        <l-geo-json v-if="showdesmata" :geojson="geojson_desmata":options="options" :options-style="styleFunction" />

                      </l-map>
                </v-container>

            </v-content>

            <v-footer padless>
              <v-card
                  flat
                  tile
                  width="100%"
                  class="green darken-2 text-center"
              >
                  <v-card-text>
                  <v-btn
                      v-for="icon in icons"
                      :key="icon"
                      class="mx-4"
                      icon
                  >
                      <v-icon size="24px">{{ icon }}</v-icon>
                  </v-btn>
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-text class="white--text">
                  {{ new Date().getFullYear() }} — <strong>CIACT - DMCA</strong>
                  </v-card-text>
              </v-card>
          </v-footer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script
        src="https://unpkg.com/vue2-leaflet@2.5.x/dist/vue2-leaflet.min.js"></script>
    
    <script src="vue-map.js"></script>
</body>

</html>